<h1>Thank you</h1>
<h3>Your CV has been sent successfully.</h3>
<br><br>
<div style="width: 50%; margin:auto">
    <table class="table table-hover">
        <thead>
            <tr>
            <th colspan="2" style="text-align: center;" class="table-active">BRIEF OF YOUR DATA</th>      
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">Firstname</th>
            <td>{{aplication.firsname}}</td>            
            </tr>
            <tr>
            <th scope="row">Lastname</th>
            <td>{{aplication.lastname}}</td>            
            </tr>
            <tr>
            <th scope="row">Email</th>
            <td>{{aplication.email}}</td>
            </tr>
            <tr>
            <th scope="row">Observations</th>
            <td>{{aplication.observations}}</td>
            </tr>
            <tr>
            <th scope="row">Position</th>
            <td>{{aplication.position}}</td>
            </tr>
            <tr>
            <th scope="row">File</th>
            <td>{{aplication.file}}</td>
            </tr>
        </tbody>
    </table>
</div>